# Dating app

In [1]:
#import the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#upload the csv files

users_inst = pd.read_csv('./raw_data/lovoo_v3_users_instances.csv')
users_api = pd.read_csv('./raw_data/lovoo_v3_users_api-results.csv')
users_inter = pd.read_csv('./raw_data/interests-of-users-by-age.csv')

In [3]:
users_inst.head()

,gender,age,name,counts_pictures,counts_profileVisits,counts_kisses,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,connectedToFacebook,...,hasBirthday,highlighted,distance,locked,mobile,online,whazzup,pictureId,userId,isSystemProfile
0,F,25,daeni,4,8279,239,True,True,True,False,...,False,False,175.000000,False,True,False,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,False
1,F,22,italiana 92,5,663,13,True,True,True,False,...,False,False,138.000000,False,True,False,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,False
2,F,20,Qqkwmdowlo,3,22187,1015,True,True,False,False,...,False,False,77.300003,False,False,False,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,False
3,F,24,Baby dee,18,7339,180,True,False,True,False,...,False,False,194.000000,False,True,True,Wicked Wonderlandüíï‚ù§Ô∏è,4ef9434cca61bece6a000002,54f2b4ce0b6ea1177e8b4d18,False
4,F,24,Anna,13,18672,492,False,True,False,False,...,False,False,318.000000,False,True,True,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,False

In [4]:
users_api.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [5]:
users_inter.head()

,age,nbusers,percentwantchats,percentwantfriends,percentwantdates,meankissesreceived,meanvisitsreceived,meanfollowers,meanlanguagesknown,totalwantchants,totalwantfriends,totalwantdates,totalkissesreceive,totalvisitsreceived,totalfollowers,totallanguagesspoken
0,18,1,0.0,0.0,0.0,0,0.0,0.0,1.00,0,0,0,0,0,0,1
1,19,523,65.8,62.5,34.2,179,4279.5,2.6,1.15,344,327,179,93985,2238190,1374,601
2,20,524,67.6,64.9,37.2,208,4809.5,1.8,1.12,354,340,195,109490,2520195,934,586
3,21,603,64.0,63.0,35.7,167,4093.0,2.1,1.12,386,380,215,101063,2468100,1239,678
4,22,720,59.9,60.6,40.3,134,3302.9,1.7,1.07,431,436,290,96505,2378122,1201,771

## Data analysis

In [6]:
print(f'users_inst shape: {users_inst.shape}')
print(f'users_api shape: {users_api.shape}')
print(f'users_inter shape: {users_inter.shape}')

users_inst shape: (2919, 39)
users_api shape: (3973, 42)
users_inter shape: (11, 16)

In [7]:
print(f"users_inst unique names: {users_inst['name'].nunique()}")
print(f"users_api unique names: {users_api['name'].nunique()}")

users_inst unique names: 2182
users_api unique names: 2843

In [18]:
print(f'users_inst duplicates: {users_inst.duplicated().sum()}')
print(f'users_api duplicates: {users_api.duplicated().sum()}')
print(f'users_inter duplicates: {users_inter.duplicated().sum()}')

users_inst duplicates: 0
users_api duplicates: 0
users_inter duplicates: 0

In [15]:
non_unique_names = users_inst[users_inst['name'].duplicated(keep=False)]
non_unique_names

,gender,age,name,counts_pictures,counts_profileVisits,counts_kisses,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,connectedToFacebook,...,hasBirthday,highlighted,distance,locked,mobile,online,whazzup,pictureId,userId,isSystemProfile
4,F,24,Anna,13,18672,492,False,True,False,False,...,False,False,318.000000,False,True,True,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,False
12,F,25,Lia,13,26842,643,False,True,True,False,...,False,False,163.000000,False,True,False,FCZ :-),500ce1722d15de810c0004af,54e238cdcb6da1706f8b4b44,False
15,F,25,tina,7,3413,86,True,False,True,False,...,False,False,57.799999,False,True,False,schreibt mir einfach!ich bin lieb!:-),5038fbd96f37f3d14400004c,503cbfc7ca61bea1590000bf,False
16,F,19,mel,13,8310,143,True,False,False,False,...,False,False,125.000000,False,False,False,I need a hero,503bd4834ea6e89a5a000123,52dd7bd9c56da1966f61cfd3,False
25,F,24,Vanessa,3,51339,2926,True,False,False,False,...,False,False,143.000000,False,True,False,‚ú®üíó‚ú®,505e2cb5883fa927490000de,552025c01c0ba01e1b8b4588,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,F,20,Ma**e,8,1101,46,True,True,True,False,...,False,False,0.000000,False,False,False,Marie ‡•ê üéâGoa. Facebook:Ma...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,False
2915,F,23,Eni**n,8,8681,141,True,True,True,False,...,False,False,0.000000,True,True,True,ruhig shriebeüòâ. biss√§ ni,CRYohLWFV8BkxZIvOom42Cwo3ysdViv+oTosUAOQkLKHTM...,e532a6060fe4e5902c66086d905a9d53,False
2916,F,23,Eni**n,8,8682,141,True,True,True,False,...,False,False,0.000000,True,True,False,ruhig shriebeüòâ. biss√§ ni,CRYz85gM+yTETN5FonrExXNHyDuwarWygCPnUrwnan7Uet...,e532a6060fe4e5902c66086d905a9d53,False
2917,F,23,Eni**n,8,8702,142,True,True,True,False,...,False,False,0.000000,False,True,True,ruhig shriebeüòâ. biss√§ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,False
2918,F,23,Eni**n,9,8904,143,True,True,True,False,...,False,False,0.000000,False,True,False,ruhig shriebeüòâ. biss√§ ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,False

In [20]:
non_unique_names_2 = users_api[users_api['name'].duplicated(keep=False)]
non_unique_names_2

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile
6,F,none,24,Anna,0.65,13,18672,492,0,1,...,1,2015-04-27T19:29:58Z,1.430163e+09,0,NaN,NaN,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,NaN
12,F,M,22,Nathalie,0.73,22,31736,2102,6,8,...,1,2015-04-06T14:52:17Z,1.428332e+09,0,NaN,NaN,und die Moral von der geschicht: fuck the Worl...,4feb51b7ebf2c82f07002139,54fa217d190ba0a1618b4668,NaN
15,F,M,25,Lia,0.58,13,26842,643,1,4,...,1,2015-04-26T17:19:17Z,1.430069e+09,0,NaN,NaN,FCZ :-),500ce1722d15de810c0004af,54e238cdcb6da1706f8b4b44,NaN
16,F,M,21,Vanessa,0.69,5,31020,1195,0,3,...,1,2015-04-06T14:57:34Z,1.428332e+09,0,NaN,NaN,üòÅüòÅ,500ebac6a9d0b30634000f91,53d7e6c8170ba055398b54ea,NaN
19,F,M,25,tina,0.92,7,3413,86,0,1,...,1,2015-04-25T18:11:13Z,1.429985e+09,0,NaN,NaN,schreibt mir einfach!ich bin lieb!:-),5038fbd96f37f3d14400004c,503cbfc7ca61bea1590000bf,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,F,M,21,B**f,0.85,1,280,15,0,0,...,1,2015-04-07T00:08:59Z,1.428365e+09,0,1.0,NaN,NaN,CRYqKLbQ1+pd5CVSmGGccV+EggT4oGRmaXWhnn5jhMg9Jz...,cb958a9459216acd4dd06f213fe63685,NaN
3969,F,M,20,Ma**e,1.00,8,1014,43,3,0,...,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,Marie ‡•ê üéâGoa. ...,CRYq7MGpxHpEKfWhmwJygGmRNadHkC9XxPjktwvaiLm6Te...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3970,F,M,20,Ma**e,1.00,8,1101,46,3,0,...,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,Marie ‡•ê üéâGoa. ...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3971,F,M,23,Eni**n,0.96,8,8702,142,0,0,...,0,2015-04-06T15:47:15Z,1.428335e+09,0,1.0,NaN,ruhig shriebeüòâ. biss√§ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,NaN
3972,F,M,23,Eni**n,0.96,9,8904,143,0,0,...,0,2015-04-19T08:38:08Z,1.429433e+09,0,1.0,NaN,ruhig shriebeüòâ. biss√§ ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,NaN